{#
SPDX-FileCopyrightText: 2023 Julian-Samuel Gebühr

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Funkwhale Celery Worker ({{ funkwhale_celery_worker_identifier }})
Requires={{ funkwhale_api_identifier }}.service
After={{ funkwhale_api_identifier }}.service
DefaultDependencies=no


[Service]
Type=simple
ExecStart={{ devture_systemd_docker_base_host_command_docker }} exec {{ funkwhale_api_identifier }} \
    celery \
    --app=funkwhale_api.taskapp worker \
    --loglevel={{ funkwhale_loglevel }} \
    --concurrency={{ funkwhale_celery_worker_concurrency }} {{ funkwhale_celery_worker_process_extra_arguments | join(' ') }}

Restart=always
RestartSec=30
SyslogIdentifier={{ funkwhale_celery_worker_identifier }}
