{% if gotosocial_container_labels_traefik_enabled %}
{% if gotosocial_container_labels_traefik_docker_network %}
traefik.docker.network={{ gotosocial_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if gotosocial_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in gotosocial_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ gotosocial_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [gotosocial_identifier + '-add-request-headers'] %}
{% endif %}

{% if gotosocial_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in gotosocial_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ gotosocial_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [gotosocial_identifier + '-add-response-headers'] %}
{% endif %}

traefik.enable=true
{% endif %}
traefik.http.routers.{{ gotosocial_identifier }}.rule=Host("{{ gotosocial_hostname }}")
{% if gotosocial_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ gotosocial_identifier }}.priority={{ gotosocial_container_labels_traefik_priority }}
{% endif %}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ gotosocial_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ gotosocial_identifier }}.service={{ gotosocial_identifier }}
traefik.http.routers.{{ gotosocial_identifier }}.entrypoints={{ gotosocial_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ gotosocial_identifier }}.tls={{ gotosocial_container_labels_traefik_tls | to_json }}
{% if gotosocial_container_labels_traefik_tls %}
traefik.http.routers.{{ gotosocial_identifier }}.tls.certResolver={{ gotosocial_container_labels_traefik_tls_certResolver }}
{% endif %}
traefik.http.services.{{ gotosocial_identifier }}.loadbalancer.server.port={{ gotosocial_container_http_port }}

{{ gotosocial_container_labels_additional_labels }}
